<%- include header.ejs%>
    <nav class="nav-bar" role="navigation">
        <div class="container">
                <a class="navbar-brand margin-0" href="#">
                    <img src="/images/index/logo_web_01.png" alt="">
                </a>
                <a class="navbar-brand margin-0" href="#">
                    <img src="/images/index/logo_web_02.png" alt="">
                </a>
                <ul class="nav-bar-btn">
                    <li><a href="">爱服"友"</a></li>
                    <li><a href="">管理登录</a></li>
                    <li><a href="" class="center"></a></li>
                </ul>
        </div>

    </nav>

    <%- include js.ejs%>
    <%- include footer.ejs%>
